HELP.md

### Maven ###
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Gradle ###
**/.gradle/
.gradle/
!**/build.gradle
!**/settings.gradle
build/                    # Ignore all build directories (Flutter, Java, etc.)
!**/src/main/**/build/    # Exception for source builds if needed
!**/src/test/**/build/

### IDEs ###
# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

### Flutter/Dart ###
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build/                # Flutter's build folder
!pubspec.yaml
!pubspec.lock

### Logs ###
*.log
logs/
